* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    transition: all 0.1s;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3ec;
}

.container {
    position: relative;
    max-width: 350px;
    width: calc(100dvw - 10px);
    background: #ffffff;
    backdrop-filter: blur(10px);
    border: 1px solid #b8b8b8;
    padding: 15px 10px 20px 10px;
    border-radius: 15px;
}

.display {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
    font-size: 1.5rem;
    text-align: right;
    pointer-events: none;
    /* Disable pointer events */
    padding: 10px;
    resize: none;
    overflow-y: scroll;
    border-radius: 5px;
    scrollbar-width: none;
    box-shadow: 0 4px 4px 0 #3c40434d;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 12px 10px;
    border-radius: 6px;
    background: #f3f3f357;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%);
    transform: translateY(0px);
    border: 1px solid #b8b8b885;
}

button:active {
    transform: translateY(4px) scale(0.95);
    box-shadow: none;
    outline: none;
}

.operator {
    color: #000000;
    font-weight: 800;
}